<div class="bg-white shadow overflow-hidden sm:rounded-md">
  <div class="px-4 py-5 sm:px-6 flex justify-between items-center">
    <div>
      <h3 class="text-lg leading-6 font-medium text-gray-900">Applications</h3>
      <p class="mt-1 max-w-2xl text-sm text-gray-500">List of application submissions.</p>
    </div>
  </div>

  <div class="px-4 py-3 sm:px-6">
    <div class="flex items-center">
      <div class="flex-1 flex-row">
        <input
          type="text"
          placeholder="Search applications..."
          [(ngModel)]="searchTerm"
          class="block w-90 px-3 py-2 border border-gray-300 rounded-md leading-5 bg-white placeholder-gray-500 focus:outline-none focus:ring-1 focus:ring-indigo-500 sm:text-sm"
        />
        <button
          type="button"
          class="text-gray-700 bg-gray-200 px-6 py-2 rounded-full text-sm font-medium cursor-pointer"
          (click)="cancelAll()"
          *ngIf="hasUnsavedChanges()"
        >
          Cancel
        </button>
        <button
          type="button"
          class="text-white bg-green-700 px-6 py-2 rounded-full text-sm font-medium m-3 cursor-pointer"
          (click)="saveAll()"
          *ngIf="hasUnsavedChanges()"
        >
          Save Changes
        </button>
      </div>
    </div>
  </div>

  <div class="overflow-visible">
    <table class="min-w-full divide-y divide-gray-200">
      <thead class="bg-gray-50">
        <tr>
          <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase">ID</th>
          <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase">Name</th>
          <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase">Phone</th>
          <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase">Email</th>
          <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase">
            Nationality
          </th>
          <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase">City</th>
          <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase">Status</th>
          <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase">Resume</th>
          <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase">
            Assigned by
          </th>
          <th class="px-12 py-3 text-left text-xs font-medium text-gray-500 uppercase">Action</th>
        </tr>
      </thead>

      <tbody class="bg-white divide-y divide-gray-200">
        <tr
          *ngFor="let application of filteredApplications(); let i = index"
          class="hover:bg-gray-50"
        >
          <td class="px-7 py-4 text-sm font-medium text-gray-900">
            {{ i + 1 }}

            <!-- NEW: Updated label -->
            <span
              *ngIf="updatedIds().has(application.id)"
              class="ml-2 px-2 py-0.5 text-xs rounded-full bg-yellow-100 text-yellow-800"
            >
              Updated
            </span>
          </td>

          <td class="px-4 py-4 text-sm font-medium text-gray-900">
            {{ application.name }}
          </td>
          <td class="px-4 py-4 text-sm text-gray-500">
            {{ application.mobile }}
          </td>
          <td class="px-4 py-4 text-sm text-gray-500">
            {{ application.email }}
          </td>
          <td class="px-4 py-4 text-sm text-gray-500">
            {{ application.nationality?.countryName || 'Not Entered' }}
          </td>
          <td class="px-4 py-4 text-sm text-gray-500">
            {{ application.favoriteCity?.cityName || 'Not Entered' }}
          </td>

          <td class="px-4 py-4 whitespace-nowrap">
            <span
              class="inline-flex px-3 py-2 text-sm font-medium rounded-full"
              [ngClass]="getStatusClass(application.ApplicationStatus)"
              *ngIf="editingApplicationId() !== application.id"
            >
              {{ application.ApplicationStatus }}
            </span>

            <div class="relative inline-block text-left">
              <div
                *ngIf="openApplicationId() === application.id"
                class="absolute bottom-full right-0 mb-2 z-10 w-40 rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 flex flex-col"
              >
                <button
                  *ngFor="let option of options"
                  (click)="select(option, application)"
                  class="w-full px-4 py-2 text-left text-sm text-gray-700 hover:bg-gray-100"
                >
                  {{ option }}
                </button>
              </div>

              <button
                (click)="toggle(application.id)"
                class="inline-flex items-center justify-center rounded-xl bg-green-700 px-4 py-2 text-sm font-medium text-white"
                *ngIf="editingApplicationId() === application.id"
              >
                Status
              </button>
            </div>
          </td>

          <td class="px-6 py-4 text-sm text-gray-500">
            <a
              href="{{ application.resumeUrl || 'Empty' }}"
              target="_blank"
              class="text-xs font-medium text-green-500 uppercase"
            >
              View Resume
            </a>
          </td>

          <td class="px-6 py-4 text-sm text-gray-500">none</td>

          <td class="px-6 py-4">
            <button
              type="button"
              class="text-white bg-green-600 px-6 py-2.5 rounded-full text-sm font-medium"
              (click)="editButton(application.id)"
            >
              {{ editingApplicationId() === application.id ? 'Exit' : 'Edit Status' }}
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
